@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 95%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
select {
  background-color: transparent;
  border: none;
}
.header_wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px 0;
}
.header_left {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header_left .top,
.header_left .buttons1,
.header_left .top .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header_left .top .right {
  background-color: #e1e1e5;
  border-bottom-left-radius: 15px;
  width: 200%;
  height: auto;
  padding: 15px 30px;
}
.text1 p {
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.text1 h1 {
  font-weight: 450;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.text1 a {
  font-weight: 400;
  font-style: Book;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  border-bottom: 1px dashed #3758cb;
  color: #3758cb;
}
.prodaj {
  font-weight: 400;
  font-style: Book;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #000000;
}
.buttons1 button {
  width: 200px;
  height: 60px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 600;
  font-style: Demi;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 5%;
  text-transform: uppercase;
  background-color: transparent;
  transition: all 0.3s ease;
  border: none;
}
.buttons1 button img {
  display: none;
  transition: all 0.3s ease;
}
.buttons1 button:hover img {
  display: block;
}
.buttons1 button:hover {
  border: 4px solid #c82132;
  cursor: pointer;
}
.buttons1 {
  gap: 10px;
  margin-top: 10px;
}
.showcase {
  background-image: url("./assets/img/showcasebg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 167px;
}
.showcase_wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}
.showcase_wrapper h1 {
  font-weight: 600;
  font-style: Demi;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}
.showcase_wrapper h2 {
  font-weight: 600;
  font-style: Demi;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 5%;
  text-transform: uppercase;
  color: white;
}
.pereyti {
  width: 200px;
  height: 60px;
  border-radius: 5px;
  background-color: #c82132;
  font-weight: 600;
  font-style: Demi;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 5%;
  text-transform: uppercase;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.3s ease;
}
.pereyti:hover {
  box-shadow: 4px 4px 4px #1f252e;
  background-color: white;
  color: #c82132;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: translateY(-5px);
}
.pereyti:hover svg {
  transition: all 0.3s ease;

  fill: #c82132;
}

.pereyti svg {
  fill: white;
}
.showcase_wrapper .top {
  display: flex;
  align-items: start;
  gap: 60px;
  flex-direction: column;
}
.buttons2 button {
  width: 43.1563606262207px;
  height: 5px;
  background: #2b333e;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
#active {
  background-color: #c82132;
}
.buttons2 button:hover {
  background-color: #c82132;
}
.buttons2 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sales_wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding: 40px 0;
}
.sales_wrapper h1 {
  font-weight: 600;
  font-style: Demi;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.card2 {
  position: relative;
  background-color: #f8f8f8;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 40px;
  overflow: hidden;
  height: 270px;
  padding-top: 30px;
}
.card2 h1 {
  font-weight: 600;
  font-style: Demi;
  font-size: 31.97px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  border-left: 11px solid #f58634;
  height: 160px;
  padding-left: 40px;
  padding-right: 100px;
}
.dop_info {
  display: flex;
  align-items: start;
  gap: 30px;
  position: absolute;
  bottom: -100%;
  transition: all 0.3s ease;
  flex-direction: column;
  padding: 0 40px;
  padding-bottom: 30px;
}
.dop_info ul {
  display: flex;
  align-items: start;
  gap: 10px;
  flex-direction: column;
}
.card2_img {
  position: absolute;
  bottom: 0;
  right: 77px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.card2:hover .dop_info {
  bottom: 0;
}
.card2:hover {
  transition: all 0.3s ease;
  box-shadow: 4px 4px 4px #85858540;
  cursor: pointer;
  transform: translateY(-5px);
}
.dop_info button {
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-style: Book;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  display: flex;
  gap: 10px;
  align-items: center;
}
.dop_info ul li {
  font-weight: 300;
  font-style: Light;
  font-size: 19.98px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.dop_info button svg {
  fill: #c82132;
}
.card3 {
  display: flex;
  align-items: start;
  gap: 10px;
  flex-direction: column;
  position: relative;
  width: 1050px;
  height: 271px;
  opacity: 1;
  background-color: #c82132;
  padding: 50px;
  transform: translate(360px, -290px);
}
.card3 img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.card3 h1 {
  font-weight: 600;
  font-style: Demi;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}
.card3 button {
  width: fit-content;
}
.card3 button:hover {
  padding: 30px;
  box-shadow: 4px 4px 4px #c82132;
}
.card3:hover {
  background: #f8f8f8;
  transition: all 0.3s ease;
  cursor: pointer;
}
.card3:hover h1 {
  color: #c82132;
}
.about_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 68px;
  padding: 30px 0;
}
.about_wrapper .left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 42px;
}
.about_wrapper .right h1 {
  font-weight: 600;
  font-style: Demi;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.about_wrapper .right p {
  font-weight: 300;
  font-style: Light;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.about_wrapper .right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 38px;
}
.about_wrapper .right button {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: transparent;
  border: none;
}
.about_wrapper .right button svg {
  fill: #c82132;
}
.about_wrapper .right button:hover {
  transition: all 0.3s ease;
  cursor: pointer;
  background: #c82132;
  padding: 10px;
  color: white;
}
.about_wrapper .right button:hover svg {
  fill: white;
}
#active2{
    background-color: #c82132;
}
